body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --background: rgb(235, 235, 235);
  --roundEdge: 15px;
}

#header {
  height: 150px;
  box-shadow: 0px 15px 10px -15px #111;
  font-size: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  visibility: hidden;
  position: absolute;
  height: 500px;
  width: 400px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: var(--roundEdge);
  gap: 20px;
  padding: 25px;
  border: 1px solid black;
}

.txt {
  width: 100%;
  border-radius: var(--roundEdge);
  font-size: 26px;
  padding: 10px;
}

#formHeader {
  font-size: 45px;
}

#readInput {
  width: 20px;
  height: 20px;
}

#readlb {
  font-size: 32px;
}

#submitInput {
  width: 100%;
  font-size: 32px;
  padding: 10px;
  border-radius: var(--roundEdge);
  background-color: lightgreen;
}

#main {
  margin-top: 5px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  padding: 25px;
}

#addBook {
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addBtn {
  font-size: 38px;
  border-radius: var(--roundEdge);
  border: none;
  background-color: var(--background);
  padding: 10px;
}

button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

#books {
  display: grid;
  gap: 35px;
  padding: 35px;
  /*grid-template-rows: repeat(3, 1fr);*/

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: clamp(600px, 80vw, 1400px);
  height: calc(100vh - 275px);
  display: grid;

  place-items: center;
}

.book {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: var(--roundEdge);
  padding: 15px;
  box-shadow: 0px 15px 10px -15px #111;
}

.bookBtn {
  font-size: 28px;
  width: 100%;
  border-radius: var(--roundEdge);
}

.content {
  font-size: 28px;
}
